<VirtualHost *>
ServerName resume.local
ServerAdmin webmaster@localhost

DocumentRoot /home/resume/resume/resume

<Directory />
Options FollowSymLinks
AllowOverride None
</Directory>

PythonInterpPerDirectory On
PythonAutoReload on
PythonDebug on

<Directory /home/resume/resume/resume>
Options FollowSymLinks MultiViews ExecCGI
AllowOverride All
Order allow,deny
allow from all
SetHandler python-program
PythonHandler rhandler
</Directory>

ErrorLog /home/resume/resume/logs/error.log
LogLevel warn
CustomLog /home/resume/resume/logs/access.log combined
ServerSignature On

</VirtualHost>


