<VirtualHost *>
ServerName resume.local
ServerAdmin webmaster@localhost

DocumentRoot /home/resume/resume/resume

# You may wish to redirect the server-root to a department.  For example,
# the following redirects "/" to "/browncs".  This is particularly convenient
# when your server hosts a single department.
#
# RedirectMatch ^/$ http://facsearch.cs.brown.edu/cs/

<Directory />
Options FollowSymLinks
AllowOverride None
</Directory>

PythonInterpPerDirectory On
PythonAutoReload on
PythonDebug on

<Directory /home/resume/resume/resume>
Options FollowSymLinks MultiViews ExecCGI
AllowOverride All
Order allow,deny
allow from all
SetHandler python-program
PythonHandler rhandler
</Directory>

ErrorLog /home/resume/resume/logs/error.log
LogLevel warn
CustomLog /home/resume/resume/logs/access.log combined
ServerSignature On

</VirtualHost>


